<!DOCTYPE html>
<html lang="en" ng-app="analysis">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="../scripts/jquery-3.1.1.min.js"></script>
    <script src="../scripts/angular.min.js"></script>
    <script src="../styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="../scripts/ui-bootstrap-tpls-2.3.2.min.js"></script>
    <script src="../scripts/ng-infinite-scroll.min.js"></script>
    <script src="../common/fileInput.js"></script>
    <script src="../common/thumbnail.js"></script>
    <script src="../common/modalComponent.js"></script>
    <script src="d3.js"></script>
    <script src="analysis.js"></script>
</head>
<body>

    <div ng-controller="analysisController" class="container-fluid">
        <div ng-if="app=='opener'">
            <div class="row">
                <div class="col-lg-offset-4 col-md-offset-4 col-lg-4 col-md-4">
                    <img src="logo.png" class="pagination">
                    <h4>Open a preset:</h4>
                    <select class="form-control" ng-model="formModel.preset" ng-change="open()">
                        <option value="">Select Preset</option>
                        <option ng-repeat="p in presets track by $index" ng-value="p">{{p}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div ng-if="app !== 'opener'" class="paddedVertical">
            <div class="row" style="height: 50px;" >
                <div class="col-lg-4 col-md-4 col-lg-4 col-md-4 pull-left">
                    <img src="logo.png" height="35px" width="auto">
                </div>
                <div class="col-lg-4 col-md-4 col-lg-4 col-md-4">
                    <h4 class="text-capitalize " ng-switch="app">
                        <span ng-switch-when="plot">{{subjectIDs.length}} Subjects, {{clusterIDs.length}} Clusters</span>
                        <span ng-switch-when="table">{{clusterIDs.length}} clusters, {{tableLastPage}} pages</span>
                        <span ng-switch-when="table_gt">{{subjectIDs.length}} subjects, {{clusterIDs.length}} clusters, {{gtLastPage}} pages</span>
                    </h4>
                </div>
                <div class="col-lg-4 col-md-4 col-lg-4 col-md-4">
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-xs" ng-class="{'btn-primary': app == 'plot', 'btn-default': app !== 'plot'}" ng-click="openPlotApp()">
                            Plot View
                        </button>
                        <button class="btn btn-xs" ng-class="{'btn-primary': app == 'table', 'btn-default': app !== 'table'}" ng-click="openTableApp()">
                            Table View
                        </button>
                        <button class="btn btn-xs" ng-class="{'btn-primary': app == 'table_gt', 'btn-default': app !== 'table_gt'}" ng-click="openTableGtApp()">
                            Table View with Ground Truth
                        </button>
                    </div>
                    <button type="button" class="btn btn-primary btn-xs" ng-click="restart()">Open New Cluster</button>
                </div>
            </div>
        </div>

        <!-- plot view -->
        <div ng-show="app == 'plot'">
            <div ng-if="plotView == 'overview' && data_ready">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <plot plot-info="plotInfo" dataset="dataset"></plot>
                        <div>
                            <b>Poses: </b>
                            <input type="checkbox" id="front" ng-model="plotInfo.showFaceFront">
                            <label for="front"><img src="circle.png"> Front</label>
                            <input type="checkbox" id="profile" ng-model="plotInfo.showFaceProfile">
                            <label for="profile"><img src="square.png"> Profile</label>
                            <input type="checkbox" id="angled" ng-model="plotInfo.showFaceAngled">
                            <label for="angled"><img src="triangle.png"> Half-profile</label>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="paddedBox">
                            <div class="btn-group paddedLinear" data-toggle="buttons">
                                <button class="btn btn-xs" ng-class="{'btn-primary': plotInfo.isBySubject, 'btn-default': !plotInfo.isBySubject}" ng-click="plotInfo.isBySubject = true">
                                    By Subject
                                </button>
                                <button class="btn btn-xs" ng-class="{'btn-primary': !plotInfo.isBySubject, 'btn-default': plotInfo.isBySubject}" ng-click="plotInfo.isBySubject = false">
                                    By Cluster
                                </button>
                            </div>
                            <div ng-if="template">
                                <div class="infiniteImageListContainer">
                                    <div class="paddedLinear">
                                        <b>Image ID: {{template.TEMPLATE_ID}}</b><br>
                                        Confidence: {{template.CONFIDENCE}}
                                    </div>
                                    <div ng-repeat="t in [template]" class="paddedLinear"> <!-- force thumbnail update when selection is modified -->
                                        <thumbnail img-src="{{::imageDir}}/{{t.FILENAME}}"
                                                   box-x="t.FACE_X"
                                                   box-y="t.FACE_Y"
                                                   box-width="t.FACE_WIDTH"
                                                   box-height="t.FACE_HEIGHT"
                                                   display-width="200"
                                                   display-height="200"
                                                   crop=true
                                                   class="img-thumbnail"
                                                   ng-click="showImage(t, true)"
                                                   style="cursor: pointer">

                                        </thumbnail>
                                    </div>
                                    <div ng-switch="plotInfo.isBySubject" class="paddedLinear">
                                        <span ng-switch-when="true"><b>Subject ID: {{subject_id}}</b></span>
                                        <span ng-switch-when="false"><b>Cluster ID: {{cluster_id}}</b></span>
                                    </div>
                                    <div>
                                        <input type="checkbox" id="cbviewall" ng-model="plotInfo.viewSingleGroup">
                                        <label for="cbviewall" ng-switch="plotInfo.isBySubject">
                                            <span ng-switch-when="true">Show only this subject on plot</span>
                                            <span ng-switch-when="false">Show only this cluster on plot</span>
                                        </label>
                                    </div>
                                    <div ng-show="plotInfo.isBySubject && plotInfo.viewSingleGroup">
                                        <input type="checkbox" id="cbsc" ng-model="plotInfo.viewSubjectClusters">
                                        <label for="cbsc">Color by clusters</label>
                                    </div>
                                    <div ng-show="plotInfo.isBySubject">
                                        <div class="paddedLinear"> <!-- subject stats -->
                                            <div>Total Clusters: <span>{{subjectClusters[subject_id].length}}</span></div>
                                            <div>Average Precision: {{averagePrecision(subject_id)}}</div>
                                            <div>Average Recall: {{averageRecall(subject_id)}}</div>
                                            <div>Total Recall: {{totalRecall(subject_id)}}</div>
                                        </div>
                                        <div ng-repeat="t in [template]"> <!-- this forces infinite scroll to update when template is changed -->
                                            <div infinite-scroll="plotAddToSubjectBucket()" infinite-scroll-distance="1" infinite-scroll-parent="true" infinite-scroll-container='".infiniteImageListContainer"'>
                                                <thumbnail ng-repeat="t in subject_templates | limitTo:plotImageSubjectBucketSz track by $index"
                                                           img-src="{{::imageDir}}/{{t.FILENAME}}"
                                                           box-x="t.FACE_X"
                                                           box-y="t.FACE_Y"
                                                           box-width="t.FACE_WIDTH"
                                                           box-height="t.FACE_HEIGHT"
                                                           display-width="50"
                                                           display-height="50"
                                                           crop=true
                                                           class="img-thumbnail"
                                                           ng-click="showImage(t, true)"
                                                           ng-mouseover="highlightImage(t.TEMPLATE_ID)"
                                                           style="cursor: pointer"
                                                           tooltip-placement="top" uib-tooltip="Confidence: {{t.CONFIDENCE}}">

                                                </thumbnail>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-show="!plotInfo.isBySubject">
                                        <div class="paddedLinear"> <!-- subject stats -->
                                            <div>Total Images: {{clusters[cluster_id].templates.length}}</div>
                                            <div>Precision: {{clusters[cluster_id].precision}}</div>
                                            <div>Recall: {{clusters[cluster_id].recall}}</div>
                                        </div>
                                        <div ng-repeat="t in [template]"> <!-- this forces infinite scroll to update when template is changed -->
                                            <div infinite-scroll="plotAddToClusterBucket()" infinite-scroll-distance="1" infinite-scroll-parent="true" infinite-scroll-container='".infiniteImageListContainer"'>
                                                <thumbnail ng-repeat="t in cluster_templates | limitTo:plotImageClusterBucketSz track by $index"
                                                           img-src="{{::imageDir}}/{{t.FILENAME}}"
                                                           box-x="t.FACE_X"
                                                           box-y="t.FACE_Y"
                                                           box-width="t.FACE_WIDTH"
                                                           box-height="t.FACE_HEIGHT"
                                                           display-width="50"
                                                           display-height="50"
                                                           crop=true
                                                           class="img-thumbnail"
                                                           ng-click="showImage(t, true)"
                                                           ng-mouseover="highlightImage(t.TEMPLATE_ID)"
                                                           style="cursor: pointer"
                                                           tooltip-placement="top" uib-tooltip="Confidence: {{t.CONFIDENCE}}">

                                                </thumbnail>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- subject view -->
            <!--<div ng-show="plotView=='subject'">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-4 col-md-4">-->
                        <!--<button type="button" class="btn btn-primary btn-sm" ng-click="showPlotOverview()">Back</button>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-4 text-center">-->
                        <!--<h4>Subject {{subject_id}} has {{subject_templates.length}} images</h4>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div>-->
                    <!--<thumbnail ng-repeat="t in subject_templates | orderBy: '-CONFIDENCE' track by $index"-->
                               <!--img-src="{{::imageDir}}/{{::t.FILENAME}}"-->
                               <!--box-x="t.FACE_X"-->
                               <!--box-y="t.FACE_Y"-->
                               <!--box-width="t.FACE_WIDTH"-->
                               <!--box-height="t.FACE_HEIGHT"-->
                               <!--display-width="100"-->
                               <!--display-height="100"-->
                               <!--crop=true-->
                               <!--ng-click="showImage(t, true)"-->
                               <!--class="img-thumbnail"-->
                               <!--style="cursor: pointer"></thumbnail>-->
                <!--</div>-->
            <!--</div>-->


            <!--&lt;!&ndash; cluster view &ndash;&gt;-->
            <!--<div ng-show="plotView=='cluster'">-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-4 col-md-4">-->
                        <!--<button type="button" class="btn btn-primary btn-sm" ng-click="showPlotOverview()">Back</button>-->
                    <!--</div>-->
                    <!--<div class="col-lg-4 col-md-4 text-center">-->
                        <!--<h4>Cluster {{cluster_id}} has {{cluster_templates.length}} images</h4>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div>-->
                    <!--<thumbnail ng-repeat="t in cluster_templates | orderBy: '-CONFIDENCE' track by $index"-->
                               <!--img-src="{{::imageDir}}/{{::t.FILENAME}}"-->
                               <!--box-x="t.FACE_X"-->
                               <!--box-y="t.FACE_Y"-->
                               <!--box-width="t.FACE_WIDTH"-->
                               <!--box-height="t.FACE_HEIGHT"-->
                               <!--display-width="100"-->
                               <!--display-height="100"-->
                               <!--crop=true-->
                               <!--ng-click="showImage(t, true)"-->
                               <!--class="img-thumbnail"-->
                               <!--style="cursor: pointer"></thumbnail>-->
                <!--</div>-->
            <!--</div>-->
        </div> <!-- end of plot app -->

        <!-- table app -->
        <div ng-show="app == 'table' && data_ready">

            <!-- overview -->
            <div ng-show="tableView==='overview'">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li ng-class="{'disabled':tablePage.number === 1}" style="cursor: pointer;" ng-click="previous()"><span aria-hidden="true">&laquo;</span></li>
                        <li ng-class="{'active': tablePage.number === tablePages[0]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[0])"><span>{{tablePages[0]}}</span></li>
                        <li ng-if="tableLastPage >= 2" ng-class="{'active': tablePage.number === tablePages[1]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[1])"><span>{{tablePages[1]}}</span></li>
                        <li ng-if="tableLastPage >= 3" ng-class="{'active': tablePage.number === tablePages[2]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[2])"><span>{{tablePages[2]}}</span></li>
                        <li ng-if="tableLastPage >= 4" ng-class="{'active': tablePage.number === tablePages[3]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[3])"><span>{{tablePages[3]}}</span></li>
                        <li ng-if="tableLastPage >= 5" ng-class="{'active': tablePage.number === tablePages[4]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[4])"><span>{{tablePages[4]}}</span></li>
                        <li ng-if="tableLastPage >= 6" ng-class="{'active': tablePage.number === tablePages[5]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[5])"><span>{{tablePages[5]}}</span></li>
                        <li ng-if="tableLastPage >= 7" ng-class="{'active': tablePage.number === tablePages[6]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[6])"><span>{{tablePages[6]}}</span></li>
                        <li ng-if="tableLastPage >= 8" ng-class="{'active': tablePage.number === tablePages[7]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[7])"><span>{{tablePages[7]}}</span></li>
                        <li ng-if="tableLastPage >= 9" ng-class="{'active': tablePage.number === tablePages[8]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[8])"><span>{{tablePages[8]}}</span></li>
                        <li ng-if="tableLastPage >= 10" ng-class="{'active': tablePage.number === tablePages[9]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[9])"><span>{{tablePages[9]}}</span></li>
                        <li ng-class="{'disabled':tablePage.number === tableLastPage}" style="cursor: pointer;" ng-click="next()"><span aria-hidden="true">&raquo;</span></li>
                    </ul>
                </nav>

                <table class="table table-striped table-bordered table-hover">
                    <!-- sortable column header -->
                    <thead class="table-heading">
                    <tr>
                        <th style="width: 1px; white-space: nowrap; align-content: center">Cluster ID</th>
                        <th style="width: 1px; white-space: nowrap">Image Count</th>
                        <th>Cluster</th>
                    </tr>
                    </thead>

                    <!-- rows -->
                    <tbody>
                    <tr class="table-row" ng-repeat="cid in tablePage.clusters track by $index">
                        <td align="center">{{cid}}</td>
                        <td align="center">{{clusters[cid].templates.length}}</td>
                        <td>
                            <thumbnail ng-repeat="s in clusters[cid].templates | orderBy: '-CONFIDENCE' | limitTo: 3"
                                       class="img-thumbnail no-mark-thumbnail"
                                       ng-attr-id="{{s.FILENAME}}"
                                       img-src="{{::imageDir}}/{{s.FILENAME}}"
                                       box-x="templates[s.TEMPLATE_ID].FACE_X"
                                       box-y="templates[s.TEMPLATE_ID].FACE_Y"
                                       box-width="templates[s.TEMPLATE_ID].FACE_WIDTH"
                                       box-height="templates[s.TEMPLATE_ID].FACE_HEIGHT"
                                       display-width="100"
                                       display-height="100"
                                       crop=true
                                       ng-click="showImage(templates[s.TEMPLATE_ID], true)"
                                       style="vertical-align: bottom; cursor: pointer"></thumbnail>
                            <button ng-if="clusters[cid].templates.length > 3" type="button" class="btn btn-primary btn-xs" ng-click="goTableCluster(cid)" style="vertical-align: bottom;">{{clusters[cid].templates.length-3}} more</button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li ng-class="{'disabled':tablePage.number === 1}" style="cursor: pointer;" ng-click="previous()"><span aria-hidden="true">&laquo;</span></li>
                        <li ng-class="{'active': tablePage.number === tablePages[0]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[0])"><span>{{tablePages[0]}}</span></li>
                        <li ng-if="tableLastPage >= 2" ng-class="{'active': tablePage.number === tablePages[1]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[1])"><span>{{tablePages[1]}}</span></li>
                        <li ng-if="tableLastPage >= 3" ng-class="{'active': tablePage.number === tablePages[2]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[2])"><span>{{tablePages[2]}}</span></li>
                        <li ng-if="tableLastPage >= 4" ng-class="{'active': tablePage.number === tablePages[3]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[3])"><span>{{tablePages[3]}}</span></li>
                        <li ng-if="tableLastPage >= 5" ng-class="{'active': tablePage.number === tablePages[4]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[4])"><span>{{tablePages[4]}}</span></li>
                        <li ng-if="tableLastPage >= 6" ng-class="{'active': tablePage.number === tablePages[5]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[5])"><span>{{tablePages[5]}}</span></li>
                        <li ng-if="tableLastPage >= 7" ng-class="{'active': tablePage.number === tablePages[6]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[6])"><span>{{tablePages[6]}}</span></li>
                        <li ng-if="tableLastPage >= 8" ng-class="{'active': tablePage.number === tablePages[7]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[7])"><span>{{tablePages[7]}}</span></li>
                        <li ng-if="tableLastPage >= 9" ng-class="{'active': tablePage.number === tablePages[8]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[8])"><span>{{tablePages[8]}}</span></li>
                        <li ng-if="tableLastPage >= 10" ng-class="{'active': tablePage.number === tablePages[9]}" style="cursor: pointer;" ng-click="gotoPage(tablePages[9])"><span>{{tablePages[9]}}</span></li>
                        <li ng-class="{'disabled':tablePage.number === tableLastPage}" style="cursor: pointer;" ng-click="next()"><span aria-hidden="true">&raquo;</span></li>
                    </ul>
                </nav>
            </div>

            <!-- detailed view -->
            <div id="tableDetailedView" ng-if="tableView=='cluster' && tableClusterId">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="goTableOverview()">Back to clusters</button>
                    </div>
                    <div class="col-lg-4 col-md-4 text-center">
                        <h4>Cluster {{::tableClusterId}} has {{clusters[tableClusterId].templates.length}} images</h4>
                    </div>
                </div>

                <div infinite-scroll="tableAddToBucket()" infinite-scroll-distance="1" infinite-scroll--check="true" infinite-scroll-listen-for-event="tableList:update">
                    <thumbnail ng-repeat="s in clusters[tableClusterId].templates | limitTo:tableImageBucketSz | orderBy: '-CONFIDENCE' track by $index"
                               img-src="{{::imageDir}}/{{::s.FILENAME}}"
                               box-x="templates[s.TEMPLATE_ID].FACE_X"
                               box-y="templates[s.TEMPLATE_ID].FACE_Y"
                               box-width="templates[s.TEMPLATE_ID].FACE_WIDTH"
                               box-height="templates[s.TEMPLATE_ID].FACE_HEIGHT"
                               display-width="100"
                               display-height="100"
                               crop=true
                               ng-click="showImage(templates[s.TEMPLATE_ID], true)"
                               class="img-thumbnail"
                               style="cursor: pointer"></thumbnail>
                </div>
            </div>
        </div> <!-- end table app -->

        <!-- table with gt app -->
        <div ng-show="app=='table_gt'">

            <!-- overview -->
            <div ng-if="data_ready">

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm">
                            <li ng-class="{'disabled':gtPage.number === 1}" style="cursor: pointer;" ng-click="previous()"><span aria-hidden="true">&laquo;</span></li>
                            <li ng-class="{'active': gtPage.number === gtPages[0]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[0])"><span>{{gtPages[0]}}</span></li>
                            <li ng-if="gtLastPage >= 2" ng-class="{'active': gtPage.number === gtPages[1]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[1])"><span>{{gtPages[1]}}</span></li>
                            <li ng-if="gtLastPage >= 3" ng-class="{'active': gtPage.number === gtPages[2]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[2])"><span>{{gtPages[2]}}</span></li>
                            <li ng-if="gtLastPage >= 4" ng-class="{'active': gtPage.number === gtPages[3]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[3])"><span>{{gtPages[3]}}</span></li>
                            <li ng-if="gtLastPage >= 5" ng-class="{'active': gtPage.number === gtPages[4]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[4])"><span>{{gtPages[4]}}</span></li>
                            <li ng-if="gtLastPage >= 6" ng-class="{'active': gtPage.number === gtPages[5]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[5])"><span>{{gtPages[5]}}</span></li>
                            <li ng-if="gtLastPage >= 7" ng-class="{'active': gtPage.number === gtPages[6]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[6])"><span>{{gtPages[6]}}</span></li>
                            <li ng-if="gtLastPage >= 8" ng-class="{'active': gtPage.number === gtPages[7]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[7])"><span>{{gtPages[7]}}</span></li>
                            <li ng-if="gtLastPage >= 9" ng-class="{'active': gtPage.number === gtPages[8]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[8])"><span>{{gtPages[8]}}</span></li>
                            <li ng-if="gtLastPage >= 10" ng-class="{'active': gtPage.number === gtPages[9]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[9])"><span>{{gtPages[9]}}</span></li>
                            <li ng-class="{'disabled':gtPage.number === gtLastPage}" style="cursor: pointer;" ng-click="next()"><span aria-hidden="true">&raquo;</span></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Subject ID</th>
                            <th>Total Clusters</th>
                            <th>Average Precision</th>
                            <th>Average Recall</th>
                            <th>Total Recall</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="subject_id in gtPage.subjects track by $index" style="cursor: pointer" ng-click="showGtSubject(subject_id)">
                        <td>
                            {{subject_id}}
                        </td>
                        <td ng-switch="subjectClusters[subject_id].length > 0">
                            <span ng-switch-when="true"> {{subjectClusters[subject_id].length}}</span>
                            <span ng-switch-default> 0</span>
                        </td>
                        <td ng-switch="subjectClusters[subject_id].length > 0">
                            <span ng-switch-when="true"> {{averagePrecision(subject_id)}}</span>
                            <span ng-switch-default> --</span>
                        </td>
                        <td ng-switch="subjectClusters[subject_id].length > 0">
                            <span ng-switch-when="true"> {{averageRecall(subject_id)}}</span>
                            <span ng-switch-default> --</span>
                        </td>
                        <td ng-switch="subjectClusters[subject_id].length > 0">
                            <span ng-switch-when="true"> {{totalRecall(subject_id)}}</span>
                            <span ng-switch-default> --</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm">
                    <li ng-class="{'disabled':gtPage.number === 1}" style="cursor: pointer;" ng-click="previous()"><span aria-hidden="true">&laquo;</span></li>
                    <li ng-class="{'active': gtPage.number === gtPages[0]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[0])"><span>{{gtPages[0]}}</span></li>
                    <li ng-if="gtLastPage >= 2" ng-class="{'active': gtPage.number === gtPages[1]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[1])"><span>{{gtPages[1]}}</span></li>
                    <li ng-if="gtLastPage >= 3" ng-class="{'active': gtPage.number === gtPages[2]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[2])"><span>{{gtPages[2]}}</span></li>
                    <li ng-if="gtLastPage >= 4" ng-class="{'active': gtPage.number === gtPages[3]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[3])"><span>{{gtPages[3]}}</span></li>
                    <li ng-if="gtLastPage >= 5" ng-class="{'active': gtPage.number === gtPages[4]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[4])"><span>{{gtPages[4]}}</span></li>
                    <li ng-if="gtLastPage >= 6" ng-class="{'active': gtPage.number === gtPages[5]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[5])"><span>{{gtPages[5]}}</span></li>
                    <li ng-if="gtLastPage >= 7" ng-class="{'active': gtPage.number === gtPages[6]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[6])"><span>{{gtPages[6]}}</span></li>
                    <li ng-if="gtLastPage >= 8" ng-class="{'active': gtPage.number === gtPages[7]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[7])"><span>{{gtPages[7]}}</span></li>
                    <li ng-if="gtLastPage >= 9" ng-class="{'active': gtPage.number === gtPages[8]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[8])"><span>{{gtPages[8]}}</span></li>
                    <li ng-if="gtLastPage >= 10" ng-class="{'active': gtPage.number === gtPages[9]}" style="cursor: pointer;" ng-click="gotoPage(gtPages[9])"><span>{{gtPages[9]}}</span></li>
                    <li ng-class="{'disabled':gtPage.number === gtLastPage}" style="cursor: pointer;" ng-click="next()"><span aria-hidden="true">&raquo;</span></li>
                </ul>
            </nav>
        </div>
        </div>

    </div> <!-- end of controller -->

</body>
</html>