.chart {
    background: #eee;
    padding: 3px;
}

.chart div {
    width: 0;
    transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}

.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 5px;
    color: white;
    box-shadow: 2px 2px 2px #666;
}

div.paddedBox {
    padding: 0 5px 0 25px;
}

div.paddedLinear {
    padding-bottom: 5px;
}

div.paddedHorizontal {
    padding-left: 5px;
    padding-right: 5px;
}

div.paddedVertical {
    padding-top: 5px;
    padding-bottom: 5px;
}

main {
    background: white;
    height: 200px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

main div {
    background: whitesmoke;
    color: black;
    width: 50%;
    padding: 20px;
    overflow: auto;
    justify-content: center;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.modal-dialog {
    height:70%;
    width:70%;
    align-self: center;
}

.mark-thumbnail {
    border: 4px solid #d9534f;
    margin: 4px;
}

.no-mark-thumbnail {
    border-width: 4px;
    margin: 4px;
}

.subject-table {
    width: 100%;
}

.subject-table td{
    padding-top: 10px;
}

.infiniteImageListContainer {
    margin: 0px;
    padding: 0px;
    height: 700px;
    min-height: 100%;
    overflow: auto;
}

#spinner{
    background: #fff;
    width: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 14px 0;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    color: #828282;
    top: 50vh;
    position: absolute;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 10;
}